<div class="container mt-10">

    <div class="row">
      
        <table class="table table-bordered" style="border: 4px solid black;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Numero</th>
                    </tr>
                </thead>

                <tbody>
                    <% @room_numbers.each do |room_number| %>
                        <tr>
                            <td><%= room_number.id %></td>
                            <td><%= room_number.numero %></td>
                            <td><%= link_to "Fiche", fiche_room_number_path(room_number),class: "btn btn-primary" %></td>
                         
                            
                               
                      
                        </tr>
                    <% end %>
                </tbody>
          </table>
         
    </div>
    <span><%=link_to"Home",root_path,class: "btn btn-primary" %></span>
</div>

