
<div class="container mt-5">
        <div>
            <p> <strong>Docteur Nom = </strong>  <%= @docteur.nom.capitalize %></p>
            <p><strong>Docteur Specialite = </strong> <%= @docteur.specialite.specialite%></p>
        </div>
        <br>
        <%=link_to"Home",root_path%>
        
               
       

    
</div>