<div class="container mt-5">
    <div>
       
    
        <p> <strong>Specialité = </strong>  <%= @specialite.specialite.capitalize%></p>
        
    </div>

    <div links_fiche>
            <%=link_to"Annuler specialite",specialite_path(@specialite),method: :delete, class: "btn btn-danger btn-margin"%>
            <%= link_to "Liste des spécialités", specialites_path, class: "btn btn-primary"%>
            <%=link_to"Home",root_path,class: "btn btn-primary" %>
    </div>
    <br><br><br>
    



    </div>