@import "bootstrap/scss/bootstrap";
@import "pages/home";
@import "docteurs/index";
@import "room_numbers/new";
@import "chambres/index";
@import "flatpickr/dist/flatpickr.min.css";
@import "patients/index";
@import "docteurs/edit";




.notice{
    color: red;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 35px;
}

.alert{
    color: red;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 35px;
}